<app-contenu-principal-layout image="assets/logo-musique-defaut-orange.png" altImage="Logo generique d'une chanson">
    <!-- Entête -->
    <div infos-importantes>
        <p class="page-details-entete__type">Titre</p>
        <h2 class="page-details-entete__titre" [class]="classesChanson()">
            {{ chanson.titre }}
        </h2>
    </div>
    <div infos-secondaires>
        <span>{{ chanson.artiste }}</span>
            <span class="spacer spacer--yellow"> • </span>
            <span>{{ chanson.nomAlbum }}</span>
            <span class="spacer spacer--yellow"> • </span>
            <span>{{ chanson.datePublication }}</span>
            <span class="spacer spacer--yellow"> • </span>
            <span>{{ chanson.duree | dureeHeureMinSec | dureeFormatteDeuxChiffres }}</span>
            <span class="spacer spacer--yellow"> • </span>
            <span>{{ chanson.nombreLecture }} écoutes</span>
    </div>

    <!-- Contenu -->
    <div contenu>
        <div class="page-details-content__entete">
            <!-- Bouton Play - non fonctionnel -->
            <mat-icon class="play-btn" role="button">play_circle</mat-icon>
        </div>
    
        <!-- Liste des paroles -->
        <h3 class="page-details-content__sous-titre">Paroles</h3>
        @if(chanson.paroles) {
            <ul>
                @for(parole of chanson.paroles; track parole) {
                    <li>{{ parole }}</li>
                }
            </ul>
        } @else {
            <p>Paroles indisponibles</p>
        }
    </div>
</app-contenu-principal-layout>