<app-contenu-principal-layout>
    <div infos-importantes>
        <p class="page-details-entete__type">Nos recommandations</p>
        <h2 class="page-details-entete__titre">
            Chansons populaires
            <mat-icon class="verified">verified</mat-icon>
        </h2>
    </div>
    <div infos-secondaires>
        <span>Les plus écoutées</span>
        <span class="spacer spacer--yellow"> • </span>
        <span>5000+ écoutes</span>
        <span class="spacer spacer--yellow"> • </span>
        <span>2000+ enregistrements</span>
    </div>
    <div contenu>
        <app-tableau-chansons [chansons]="chansons | chansonsPopulaires"></app-tableau-chansons>
    </div>
</app-contenu-principal-layout>