<!-- Entête de la liste de lecture -->
<div class="page-details-entete">
    <!-- Image -->
    <img class="page-details-entete__img" [src]="liste.image" alt="Image de la liste de lecture">

    <div class="page-details-entete__content">
        <!-- Infos importantes (type et titre) -->
        <p class="page-details-entete__type">{{ liste.type }}</p>
        <h2 class="page-details-entete__titre">
            {{ liste.titre }}
            @if(liste.verifie) {
                <mat-icon class="verified">verified</mat-icon>
            }
        </h2>

        <!-- Infos secondaires -->
        <div class="page-details-entete__infos-generales">
            @if(liste.sousTitre) {
                <span>{{ liste.sousTitre }}</span>
                <span class="spacer spacer--yellow"> • </span>
            }
            <span>Publié le {{ liste.datePublication }}</span>
            <span class="spacer spacer--yellow"> • </span>
            <span>{{ liste.nombreSauvegardes }} sauvegardes</span>
        </div>

        <!-- Visibilité -->
        <p class="page-details-entete__description">{{ liste.description }}</p>
        <div class="page-details-entete__infos-secondaires">
            @if(liste.visibilite) {
                <mat-icon class="lock">lock_open</mat-icon>
            } @else {
                <mat-icon class="lock">lock_outline</mat-icon>
            }
            <span>Liste {{ liste.visibilite ? 'publique' : 'privée' }}</span>
        </div>
    </div>
</div>

<!-- Contenu (liste de chansons) -->
<div class="page-details-content">
    <div class="page-details-content__entete">
        <!-- Bouton Play - non fonctionnel -->
        <mat-icon class="play-btn" role="button">play_circle</mat-icon>
        <div class="list-icon">
            <span>Liste</span>
            <mat-icon role="button">list</mat-icon>
        </div>
    </div>

    <!-- Liste de chansons -->
    <app-tableau-chansons [chansons]="liste.chansons"></app-tableau-chansons>
</div>
