.page {
    min-height: 100vh;
    min-width: 100vw;
}

.page__content {
    min-height: 100vh;
    position: relative;
}

.page__sidenav {
    width: auto;
    max-width: 30%;
}

.menu-btn {
    position: absolute;
    top: 0;
    left: 0;
    translate: -5px;
    border-radius: 0 0 50% 0;
}

.menu-btn--mobile {
    left: auto;
    right: 8px;
    border-radius: 0 0 0 50%;
    z-index: 0;
    display: none;
}

mat-drawer {
    border-radius: 0 0 22px 0;
}

@media screen and (max-width: 850px) {
    .menu-btn--mobile {
        display: block;
    }

    .page__sidenav {
        width: 100%;
        max-width: 100%;
    }
}