<app-contenu-principal-layout image="assets/app-logo.png" altImage="Logo de l'application Yell'ow">
    <!-- Entête -->
    <div infos-importantes>
        <p class="page-details-entete__type">Un peu plus sur l'application...</p>
        <h2 class="page-details-entete__titre">
            A Propos
            <mat-icon class="verified">verified</mat-icon>
        </h2>
    </div>
    <div infos-secondaires>
        <span>10M d'utilisateurs</span>
        <span class="spacer spacer--yellow"> • </span>
        <span>Lancé le 20 janvier 2025</span>
        <span class="spacer spacer--yellow"> • </span>
        <span>4.8 étoiles</span>
    </div>

    <!-- Contenu -->
    <div contenu>
        <p>
            Lancée le 20 janvier 2025, <strong>Yell'ow</strong> a révolutionné l’univers du streaming musical en offrant une expérience immersive et intuitive aux mélomanes du monde entier. Pensée pour s’adapter aux besoins des utilisateurs modernes, elle propose un vaste catalogue de titres, des recommandations ultra-personnalisées grâce à une intelligence artificielle avancée et une interface épurée qui met la musique au cœur de l’expérience. En quelques mois, <strong>Yell'ow</strong> s’est imposée comme une référence incontournable dans l’industrie.
        </p>
        <p>
            Avec déjà plus de <strong>10 millions d’utilisateurs</strong>, la plateforme a su séduire par sa fluidité, la qualité de son audio et ses fonctionnalités innovantes. Que ce soit pour découvrir de nouveaux artistes, créer des playlists collaboratives ou profiter d’une écoute hors ligne sans compromis, notre application offre une liberté totale. Son algorithme intelligent analyse les préférences de chaque utilisateur pour lui proposer des morceaux adaptés à ses goûts, tout en valorisant les artistes indépendants et émergents.
        </p>
        <p>
            Plébiscitée par la critique et encensée par sa communauté, <strong>Yell'ow</strong> affiche une note moyenne de <strong>4,8 étoiles</strong> sur les stores. Ce succès repose sur une vision simple : faire de la musique une expérience fluide, inspirante et accessible à tous. Grâce à un engagement constant envers l’innovation et la satisfaction des utilisateurs, nous continuons d’évoluer pour offrir une plateforme toujours plus performante, intuitive et proche de sa communauté.
        </p>
    </div>
</app-contenu-principal-layout>