.theme-contenu {
    text-align: center;
}

.theme-contenu__description {
    margin: 20px 0;
}

.theme-contenu__btns {
    display: flex;
    gap: 10px;
    justify-content: center;
}

button a {
    text-decoration: none;
    color: inherit;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
}