th.mat-sort-header-sorted {
    color: black;
}

.table-header__icon {
    font-size: 1.25rem;
}

::ng-deep tbody > tr:hover {
    cursor: pointer;
    background-color: rgb(243, 243, 243);
}

table img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin: 5px;
}

mat-dialog-container {
    width: 90%;
    background-color: red;
}

.btn--action {
    background-color: transparent;
    color: var(--mat-primary);
}

.btn--action:hover {
    color: var(--mat-accent);
}

table {
    margin: 20px !important;
}

table tr {
    cursor: auto;
}